body{

background:#f5f5f5;

}

.card{

border-radius:15px;

transition:.3s;

}

.card:hover{

transform:scale(1.02);

}

.card img{

height:250px;

object-fit:cover;

}

.navbar{

margin-bottom:20px;

}

audio{

width:100%;

}